
body {
    background-color: white;
  }

header {
    height: 10%;
    background-color: blue;
}

h1 {
    color: white;
}

.card {
    border: none;
    background-color: transparent;
    height: 165px;
}

.daily-info {
    background-color: rgb(194, 191, 191);
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 5px 5px 3px grey;
}

.day-heading {
    font-size: larger;
    font-weight: bold;
}

.card-icon {
    text-align: center;
    margin: 0 auto;
}

  
#current-weather {
    background-color: white;
    border: 3px solid rgb(31, 30, 30);
    border-radius: 10px;
    box-shadow: 5px 5px 3px grey;
}
#current-icon {
    text-align: center;
}

#current-icon img{
    width: 100px;
    height: 100px;
}

.btn-secondary {
    color: white;
    background-color: rgb(53, 55, 73);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}



